In [1]:
import osmnx as ox
import geopandas as gpd

In [2]:
place = "Tbilisi, Georgia"

In [9]:
tags = {"amenity": ["car-wash", "fuel"], "highway":"service"}
gdf = ox.features_from_place(place, tags)
gdf

                       railway  \
element_type osmid
node         288025908     NaN
             288025986     NaN
             288025995     NaN
             313110253     NaN
             409448741     NaN
...                        ...
relation     14272276      NaN
             14272281      NaN
             14370454      NaN
             14385423      NaN
             14920478      NaN

                                                                 geometry  \
element_type osmid
node         288025908                          POINT (44.96749 41.69316)
             288025986                          POINT (44.97666 41.69216)
             288025995                          POINT (44.96019 41.69317)
             313110253                          POINT (44.76886 41.78645)
             409448741                          POINT (44.73403 41.72717)
...                                                                   ...
relation     14272276   POLYGON ((44.83177 41.71254, 44.83186 41.71249...
             14272281   POLYGON ((44.83083 41.71219, 44.83085 41.71221...
             14370454   POLYGON ((44.91263 41.68670, 44.91265 41.68668...
             14385423   POLYGON ((44.95777 41.67676, 44.95782 41.67678...
             14920478   POLYGON ((44.88032 41.67331, 44.88039 41.67332...

                        highway access foot created_by motor_vehicle amenity  \
element_type osmid
node         288025908      NaN    NaN  NaN        NaN           NaN    fuel
             288025986      NaN    NaN  NaN        NaN           NaN    fuel
             288025995      NaN    NaN  NaN        NaN           NaN    fuel
             313110253      NaN    NaN  NaN        NaN           NaN    fuel
             409448741      NaN    NaN  NaN        NaN           NaN    fuel
...                         ...    ...  ...        ...           ...     ...
relation     14272276   service    NaN  NaN        NaN           NaN     NaN
             14272281   service    NaN  NaN        NaN           NaN     NaN
             14370454   service    NaN  NaN        NaN           NaN     NaN
             14385423   service    NaN  NaN        NaN           NaN     NaN
             14920478   service    NaN  NaN        NaN           NaN     NaN

                          name:en vehicle  ... indoor check_date:smoothness  \
element_type osmid                         ...
node         288025908        NaN     NaN  ...    NaN                   NaN
             288025986  Super Oil     NaN  ...    NaN                   NaN
             288025995        NaN     NaN  ...    NaN                   NaN
             313110253        NaN     NaN  ...    NaN                   NaN
             409448741     Wissol     NaN  ...    NaN                   NaN
...                           ...     ...  ...    ...                   ...
relation     14272276         NaN     NaN  ...    NaN                   NaN
             14272281         NaN     NaN  ...    NaN                   NaN
             14370454         NaN     NaN  ...    NaN                   NaN
             14385423         NaN     NaN  ...    NaN                   NaN
             14920478         NaN     NaN  ...    NaN                   NaN

                       paving_stones:shape fuel:octane_85 alt_name:de  \
element_type osmid
node         288025908                 NaN            NaN         NaN
             288025986                 NaN            NaN         NaN
             288025995                 NaN            NaN         NaN
             313110253                 NaN            NaN         NaN
             409448741                 NaN            NaN         NaN
...                                    ...            ...         ...
relation     14272276                  NaN            NaN         NaN
             14272281                  NaN            NaN         NaN
             14370454                  NaN            NaN         NaN
             14385423                  NaN            NaN         NaN
             14920478                  NaN            NaN         NaN

                       alt_name:ru wikipedia note  \
element_type osmid
node         288025908         NaN       NaN  NaN
             288025986         NaN       NaN  NaN
             288025995         NaN       NaN  NaN
             313110253         NaN       NaN  NaN
             409448741         NaN       NaN  NaN
...                            ...       ...  ...
relation     14272276          NaN       NaN  NaN
             14272281          NaN       NaN  NaN
             14370454          NaN       NaN  NaN
             14385423          NaN       NaN  NaN
             14920478          NaN       NaN  NaN

                                                                    ways  \
element_type osmid
node         288025908                                               NaN
             288025986                                               NaN
             288025995                                               NaN
             313110253                                               NaN
             409448741                                               NaN
...                                                                  ...
relation     14272276                           [1071278980, 1071278981]
             14272281                             [1071279010, 75587862]
             14370454   [1079935989, 1079935990, 1079935991, 1079935992]
             14385423                           [1081159390, 1081159391]
             14920478                           [1116191425, 1116191426]

                                type
element_type osmid
node         288025908           NaN
             288025986           NaN
             288025995           NaN
             313110253           NaN
             409448741           NaN
...                              ...
relation     14272276   multipolygon
             14272281   multipolygon
             14370454   multipolygon
             14385423   multipolygon
             14920478   multipolygon

[16011 rows x 150 columns]

In [11]:
# Filter the GeoDataFrame to include only nodes, aka points
nodes_gdf = gdf[gdf['geometry'].type == 'Polygon']
nodes_gdf

                      railway  \
element_type osmid
way          57654452     NaN
             57936171     NaN
             58763323     NaN
             58779737     NaN
             59427281     NaN
...                       ...
relation     14272276     NaN
             14272281     NaN
             14370454     NaN
             14385423     NaN
             14920478     NaN

                                                                geometry  \
element_type osmid
way          57654452  POLYGON ((44.83925 41.68552, 44.83903 41.68527...
             57936171  POLYGON ((44.83461 41.67354, 44.83455 41.67363...
             58763323  POLYGON ((44.72607 41.80350, 44.72584 41.80326...
             58779737  POLYGON ((44.74616 41.79502, 44.74668 41.79518...
             59427281  POLYGON ((44.83598 41.69544, 44.83567 41.69526...
...                                                                  ...
relation     14272276  POLYGON ((44.83177 41.71254, 44.83186 41.71249...
             14272281  POLYGON ((44.83083 41.71219, 44.83085 41.71221...
             14370454  POLYGON ((44.91263 41.68670, 44.91265 41.68668...
             14385423  POLYGON ((44.95777 41.67676, 44.95782 41.67678...
             14920478  POLYGON ((44.88032 41.67331, 44.88039 41.67332...

                       highway      access foot created_by motor_vehicle  \
element_type osmid
way          57654452  service  permissive  NaN        NaN           NaN
             57936171  service         NaN  NaN        NaN           NaN
             58763323  service         NaN  NaN        NaN           NaN
             58779737  service         NaN  NaN        NaN           NaN
             59427281  service         NaN  NaN        NaN           NaN
...                        ...         ...  ...        ...           ...
relation     14272276  service         NaN  NaN        NaN           NaN
             14272281  service         NaN  NaN        NaN           NaN
             14370454  service         NaN  NaN        NaN           NaN
             14385423  service         NaN  NaN        NaN           NaN
             14920478  service         NaN  NaN        NaN           NaN

                              amenity name:en vehicle  ... indoor  \
element_type osmid                                     ...
way          57654452  driving_school     NaN     NaN  ...    NaN
             57936171             NaN     NaN     NaN  ...    NaN
             58763323             NaN     NaN     NaN  ...    NaN
             58779737             NaN     NaN     NaN  ...    NaN
             59427281             NaN     NaN     NaN  ...    NaN
...                               ...     ...     ...  ...    ...
relation     14272276             NaN     NaN     NaN  ...    NaN
             14272281             NaN     NaN     NaN  ...    NaN
             14370454             NaN     NaN     NaN  ...    NaN
             14385423             NaN     NaN     NaN  ...    NaN
             14920478             NaN     NaN     NaN  ...    NaN

                      check_date:smoothness paving_stones:shape  \
element_type osmid
way          57654452                   NaN                 NaN
             57936171                   NaN                 NaN
             58763323                   NaN                 NaN
             58779737                   NaN                 NaN
             59427281                   NaN                 NaN
...                                     ...                 ...
relation     14272276                   NaN                 NaN
             14272281                   NaN                 NaN
             14370454                   NaN                 NaN
             14385423                   NaN                 NaN
             14920478                   NaN                 NaN

                      fuel:octane_85 alt_name:de alt_name:ru wikipedia note  \
element_type osmid
way          57654452            NaN         NaN         NaN       NaN  NaN
             57936171            NaN         NaN         NaN       NaN  NaN
             58763323            NaN         NaN         NaN       NaN  NaN
             58779737            NaN         NaN         NaN       NaN  NaN
             59427281            NaN         NaN         NaN       NaN  NaN
...                              ...         ...         ...       ...  ...
relation     14272276            NaN         NaN         NaN       NaN  NaN
             14272281            NaN         NaN         NaN       NaN  NaN
             14370454            NaN         NaN         NaN       NaN  NaN
             14385423            NaN         NaN         NaN       NaN  NaN
             14920478            NaN         NaN         NaN       NaN  NaN

                                                                   ways  \
element_type osmid
way          57654452                                               NaN
             57936171                                               NaN
             58763323                                               NaN
             58779737                                               NaN
             59427281                                               NaN
...                                                                 ...
relation     14272276                          [1071278980, 1071278981]
             14272281                            [1071279010, 75587862]
             14370454  [1079935989, 1079935990, 1079935991, 1079935992]
             14385423                          [1081159390, 1081159391]
             14920478                          [1116191425, 1116191426]

                               type
element_type osmid
way          57654452           NaN
             57936171           NaN
             58763323           NaN
             58779737           NaN
             59427281           NaN
...                             ...
relation     14272276  multipolygon
             14272281  multipolygon
             14370454  multipolygon
             14385423  multipolygon
             14920478  multipolygon

[207 rows x 150 columns]

In [8]:
# Define the file path for saving the GeoPackage file
output_file = "pois-health.geojson"

# Save the filtered GeoDataFrame to a GeoPackage file
nodes_gdf.to_file(output_file, driver='GeoJSON')